streamlit==1.28.0
folium==0.14.0
streamlit-folium==0.15.0
geopandas==0.14.0
pandas==2.0.3
pulp==2.7.0
numpy==1.24.3
plotly==5.15.0
scikit-learn==1.5.0
scipy==1.11.1
geopy==2.3.0
requests==2.32.4
matplotlib==3.7.2
seaborn==0.12.2
branca==0.6.0
